
.bottomnav{
  position: absolute;
  bottom: 0px;
  width: 100%;
  box-shadow:  0px 0px 15px 0px #888;
 /* z-index: 2; */
}

.title{
  text-align: center;
}

.profile-wrapper{
  text-align: center;
  margin: 0px 10px 5px 10px;
  justify-content: center;
}

.profile-banner{
    display: inline-flex;
   /* vertical-align: middle;*/
    margin: 0px 15px 0px 15px;
    position: relative;
    transform: translateY(25%);
    align-items: center;
}

.username-textfield{
  padding-left: 36%;
  margin: 10px 0px 0px 0px;
}

.user-container{
  background-color: rgba(0, 0, 0, 0.5);
}

.trophy-container{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: space-around;
  align-items: center;
}

.trophy-item{
    padding: 5px 2.5px 5px 2.5px;
    margin: 0px 2.5px 0px 2.5px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: space-around;
  }

  .debug-container{
    border-style: solid;
    border-color: green;
    height: 80vh;
  }
