@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
$font-stack: 'Open Sans', sans-serif;
$default-text-color: rgba(107,117,139,1);

html, body, p, h1, h2, h3, h4, ul, li  {
  font-family: $font-stack;
  padding: 0;
  margin: 0;
  height: 100%;
}

.title{
  text-align: center;
}

.previouseSite{
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: small;
  color: white;
}

.flatbutton{
  box-sizing: border-box;
  display: inline-block;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.870588);
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: uppercase;
  border-radius: 2px;
  overflow: hidden;
  line-height: 36px;
  min-width: 88px;
  padding: 0px;
  margin: 0px;
}

.fa{
  line-height: 56px;
  font-size: medium;
  color: #ffffff;
}
