$top: 20%;

.literaryTrail{
  width: 100%;
  top: $top;
  position: absolute;
}

.literaryTrailCard{
  background-color: #4791B2;
  margin: 20px;
  border-radius:2px;
  position: relative;
  box-shadow: 0px 2px 10px 0px darken(#4791B2, 20);

  .moreTrailDetails{
    height: 0;
    visibility: hidden;
    display: none;
  }
}

.trailDetails{
  margin-left: 10px;
  padding: 10px;
  color: white;
  h1{
    margin-top: 20px;
    font-size: inherit;
    font-family: sans-serif;
  }

  h3{
    margin-top: 20px;
    font-size: 80%;
    font-weight: 300;
  }

  .fa{
    color:pink;
    right: 10%;
    margin-top: -10%;
    font-size: 1em;
    position: absolute;
    height: inherit;
  }
}


.literaryTrailCardExpanded{
  background-color: #4791B2;
  margin: 20px;
  border-radius:2px;
  position: relative;
  box-shadow: 0px 2px 10px 0px darken(#4791B2, 20);

  .moreTrailDetails{
    background-color: lighten(#4791B2, 10);
    border-top: solid 1px;
    border-top-color: darken(#4791B2, 10);
    border-radius: 2px;
    padding: 20px;

    .flatbutton{
      color: white;
      margin: 1em auto;
      background-color: #8dbdd2;
      padding: 0.5em 2em;
      border-radius: 3px;
      border: none;
    }

    .flatbutton:active{
      background-color: darken(#4791B2, 20%);
    }

    strong{
      text-transform: uppercase;
    }
    > *{
      font-size: 80%;
      text-align: justify;
    }
  }
}


.trailLengthAndColor{
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.circle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  background-color:pink;
  border-radius: 50%;
  p{
    font-size: 90%;
  }
}

.line{
  width: 1.4em;
  border-top: dotted 4px;
}

.literaryPlaces{
  margin-top: 10px;
}


.completed-tag {
    position: relative;
    background-color: lightgreen;
    padding: 10px 25px;
    font-size: 32px;
    border: solid 1px whitesmoke;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.literaryPlaceCard {
  background-color: #47A2CC;
  margin: 30px;
  border-radius: 2px;
  height: 20vh;
  box-shadow: 0px 2px 10px 0px darken(#47A2CC, 20);

  .primarytext{
    padding: .4em 1em;

    .mapMarker{
      position: static;
      margin-top: 5px;
      height: inherit;
      font-size: 3vh;
    }

    .book{
      font-size: 4vh;
      color: pink;
    }

    .playCircle{
      font-size: 4vh;
      color: pink;
    }
  }

  .actions{
    padding: 8px;
  }

  h1{
    font-size: inherit;
    margin-top: 1vh;
    font-family:sans-serif;
  }

  .expandableArea{
    height: 0;
    visibility: hidden;
    display: none;
  }
}

.literaryPlaceCardExpanded{
  background-color: #47A2CC;
  margin: 30px;
  border-radius: 2px;
  box-shadow: 0px 2px 10px 0px darken(#47A2CC, 20);

  .primarytext{
    padding: .4em 1em;

    .mapMarker{
      position: static;
      margin-top: 5px;
      height: inherit;
      font-size: 3vh;
    }

    .book{
      font-size: 4vh;
      color: pink;
    }

    .playCircle{
      font-size: 4vh;
      color: pink;
    }
  }

  .actions{
    padding: 8px;
  }

  h1{
    font-size: inherit;
    margin-top: 1vh;
    font-family:sans-serif;
  }

  .expandableArea{
    padding: 20px;
    border-radius:2px;
    font-size: inherit;
    color: white;
    background-color: lighten(#47A2CC,10);
    border-top: solid 1px darken(#47A2CC,20);

    p{
      color: black;
      font-size: 90%;
      text-align: justify;
    }

    > * {
      margin-top: .5em;
    }
  }
}

.literaryPlacesCompleted{
  text-align: center;
  margin: 1em;
  padding: .6em;

  > * {
    margin-bottom: 0.5em;
  }
}

.fb-blue{
  background-color: #3B5998 !important;
  color: white;
  font-weight: 100;
  padding: .3em;
}

literaryPlacesCompleted::after{
  content: "Share on facebook"
}

.btn-default{
  width: 100%;
  background-color: #97cae2;
  height: 2em;
  color: white;
  border: none;
  margin-top: 20px;
}

.placeCompleted{
  background-color: darken(#4791B2, 10%);
}

.literaryTrailCardContainer{
  padding-top: 1px;
}

.appBarLiteraryTrail{
  background-color: #4791B2;
  position: fixed;
  height: $top;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0px 2px 10px -1px #212121;

  .title{
    top: 40%;
    font-size: 110%;
    position: relative;
  }
  i{
    font-size: 90%;
  }
}

.mapTrail{
  height: $top;
}

.buttonAndText{
  width: 8vh;
  margin-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p{
    font-size: inherit;
    color: pink;
  }
}

.rightButtons{
  display: flex;
  right: 5vh;
  margin-top: -4vh;
  position: absolute;
}

.mapButton{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  right: 2vh;

  p{
    font-size: 80%;
    color: white;
    top: 20px;
  }

  #map-icon{
    font-size: 3vh;
    height: inherit;
    margin-top: 1vmax;
  }
}


#chevron-left-icon{
  left:  2vh;
  position: fixed;
  height: inherit;
  font-size: 3vh;
  top:20px;
}

#address{
  margin-left: 2.5vh;
  font-size: 2.5vh;
  margin-top: -23px;
}

.progress-bar{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

progress{
  background-color: #fff;
  height: 10px;
  width: 100%;
  border-radius: 100px;
  color: #ffc0cb;
}

progress::-webkit-progress-bar {
  background: #fff;
  height: 10px;
  width: 100%;
  border-radius: 100px;
}
progress::-webkit-progress-value {
  background: #ffc0cb;
  height: 10px;
  width: 100%;
  border-radius: 100px;
}

input.rangeClass{
  border-radius: 50px !important;
  margin-top: -12px !important;
  background: transparent !important;
}

input[type=range]::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 0) !important;
  border: 0px solid rgba(0, 1, 1, 0) !important;
}

.social{
  margin: 10px;
  height: 5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .flatbutton{
      color: white;
      margin: 1.8em auto;
      background-color: #8dbdd2;
      padding: 1em 2em;
      border-radius: 6px;
      border: none;
  }
}

.hidden-social-buttons{
  height: 0;
  visibility: hidden;
  display: none;
}

.social-buttons{
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:center;
  visibility: visible;
}

.facebook-share{
  .fa-facebook-square{
    color:white;
    font-size: 4em;
  }
}

.like{
  .fa-heart{
    color: white;
    font-size: 4em;
  }
}
