$top: 20%;

.literaryTrail{
  width: 100%;
  top: $top;
  position: absolute;
}

.literaryPlaces{
  margin-top: 10px;
}

.literaryPlaceCard{
  background-color: #4791B2;
  margin: 30px;
  border-radius: 2px;
  height: 20vh;

  .primarytext{
    margin-left: 2vh;
    padding: 16px;

    .mapMarker{
      position: static;
      margin-top: 5px;
      height: inherit;
      font-size: 3vh;
    }

    .book{
      font-size: 4vh;
      color: pink;
    }

    .playCircle{
      font-size: 4vh;
      color: pink;
    }
  }

  .actions{
    padding: 8px;
  }

  h1{
    font-size: inherit;
    margin-top: 1vh;
    font-family:sans-serif;
  }

  .textArea{
    height: 0;
    visibility: hidden;
  }
}

.literaryPlaceCardExpanded{
  background-color: #4791B2;
  margin: 30px;
  border-radius: 2px;
  padding-bottom: 2vh;

  .primarytext{
    margin-left: 2vh;
    padding: 16px;

    .mapMarker{
      position: static;
      margin-top: 5px;
      height: inherit;
      font-size: 3vh;
    }

    .book{
      font-size: 4vh;
      color: pink;
    }

    .playCircle{
      font-size: 4vh;
      color: pink;
    }
  }

  .actions{
    padding: 8px;
  }

  h1{
    font-size: inherit;
    margin-top: 1vh;
    font-family:sans-serif;
  }

  .textArea{
    background-color: #4791B2;
    margin-top: 2em;
    padding: 16px;
    border-radius:2px;
    font-size: inherit;
    color: white;
  }
}

.literaryTrailCardContainer{
  padding-top: 1px;
}

.literaryTrailCard{
  background-color: #4791B2;
  margin: 30px;
  border-radius:2px;
  height: 20vh;

  .moreTrailDetails{
    height: 0;
    visibility: hidden;
  }
}

.trailDetails{
  margin-left: 30px;
  padding: 20px;
  color: white;
  h1{
    margin-top: 20px;
    font-size: inherit;
    font-family: sans-serif;
  }

  h3{
    margin-top: 20px;
    font-size: 80%;
    font-weight: 300;
  }

  .fa{
    color:pink;
    right: 10%;
    margin-top: -10%;
    font-size: 1em;
    position: absolute;
    height: inherit;
  }
}


.literaryTrailCardExpanded{
  background-color: #4791B2;
  margin: 30px;
  border-radius:2px;


  .moreTrailDetails{
    background-color: #4791B2;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 2px;
    padding: 16px;

    .flatbutton{
      color: white;
      margin: 1.8em auto;
      background-color: lighten(#4791B2, 20%);
      padding: 1em 2em;
      border-radius: 6px;
      border: none;
    }

    .flatbutton:active{
      background-color: darken(#4791B2, 20%);
    }

    strong{
      text-transform: uppercase;
    }
    > *{
      font-size: 80%;
    }
  }
}

.appBarLiteraryTrail{
  background-color: #47A2CC;
  position: fixed;
  height: $top;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0px 2px 10px -1px #212121;

  .title{
    top: 40%;
    font-size: inherit;
    position: relative;
  }
}

.mapTrail{
  height: $top;
}

.buttonAndText{
  width: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p{
    font-size: inherit;
    margin-top: 10px;
    color: pink;
  }
}

.rightButtons{
  display: flex;
  right: 5vh;
  margin-top: -4vh;
  position: absolute;
}

.mapButton{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  right: 2vh;

  p{
    font-size: 80%;
    color: white;
    top: 20px;
  }

  #map-icon{
    font-size: 3vh;
    height: inherit;
    margin-top: 1vmax;
  }
}


#chevron-left-icon{
  left:  2vh;
  position: fixed;
  height: inherit;
  font-size: 3vh;
  top:20px;
}

#address{
  height: inherit;
  position: static;
  margin-left: 2.5vh;
  font-size: 2.5vh;
  margin-top: -55px;
}

.progress-bar{
  position: absolute;
  margin-top: 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

progress{
  background-color: #fff;
  border: 1px;
  height: 15px;
  width: 100%;
  border-radius: 100px;
  color: #ffc0cb;
}

progress::-webkit-progress-bar {
  background: #fff;
  border: 1px;
  height: 15px;
  width: 100%;
  border-radius: 100px;
}
progress::-webkit-progress-value {
  background: #ffc0cb;
  border: 1px;
  height: 15px;
  width: 100%;
  border-radius: 100px;
}

input.rangeClass{
  border-radius: 100px !important;
  margin-top: -15px !important;
  background: transparent !important;
}

input[type=range]::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 0) !important;
  border: 0.2px solid rgba(0, 1, 1, 0) !important;
}
