input[type=range].rangeClass {
  -webkit-appearance: none;
  width: 100%;
  margin: 6.6px 0;
}
input[type=range].rangeClass:focus {
  outline: none;
}
input[type=range].rangeClass::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.49), 0px 0px 0px rgba(13, 13, 13, 0.49);
  background: #ffffff;
  border-radius: 3px;
  border: 0px solid rgba(71, 145, 178, 0.6) !important;
}
input[type=range].rangeClass::-webkit-slider-thumb {
  box-shadow: 0px 0px 4.3px rgba(255, 192, 203, 0.8), 0px 0px 0px rgba(255, 218, 224, 0.8);
  border: 0px solid #ffc0cb;
  height: 20px;
  width: 20px;
  border-radius: 100px;
  background: #ffc0cb;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range].rangeClass:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range].rangeClass::-moz-range-track {
  width: 100%;
  height: 14.8px;
  cursor: pointer;
  box-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.49), 0px 0px 0px rgba(13, 13, 13, 0.49);
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid rgba(71, 145, 178, 0.6);
}
input[type=range].rangeClass::-moz-range-thumb {
  box-shadow: 0px 0px 4.3px rgba(255, 192, 203, 0.8), 0px 0px 0px rgba(255, 218, 224, 0.8);
  border: 0px solid #ffc0cb;
  height: 28px;
  width: 28px;
  border-radius: 30px;
  background: #ffc0cb;
  cursor: pointer;
}
input[type=range].rangeClass::-ms-track {
  width: 100%;
  height: 14.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].rangeClass::-ms-fill-lower {
  background: #cccccc;
  border: 1px solid rgba(71, 145, 178, 0.6);
  border-radius: 6px;
  box-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.49), 0px 0px 0px rgba(13, 13, 13, 0.49);
}
input[type=range].rangeClass::-ms-fill-upper {
  background: #ffffff;
  border: 1px solid rgba(71, 145, 178, 0.6);
  border-radius: 6px;
  box-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.49), 0px 0px 0px rgba(13, 13, 13, 0.49);
}
input[type=range].rangeClass::-ms-thumb {
  box-shadow: 0px 0px 4.3px rgba(255, 192, 203, 0.8), 0px 0px 0px rgba(255, 218, 224, 0.8);
  border: 0px solid #ffc0cb;
  height: 28px;
  width: 28px;
  border-radius: 30px;
  background: #ffc0cb;
  cursor: pointer;
  height: 14.8px;
}
input[type=range].rangeClass:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range].rangeClass:focus::-ms-fill-upper {
  background: #ffffff;
}
