$top: 15%;

.topNavigation{
  background-color: #47A2CC;
  position: fixed;
  color: white;
  text-align: center;
  padding: 5vh 0;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0px 2px 10px -1px #212121;

  .title{
    top:20px;
    position: relative;
  }
  h1{
    font-size: inherit;
    font-family: sans-serif;
  }
}
