
.profile{
  display: flex;
  position: absolute;
  height: 30vh;
  top: 100px;
  width: 100%;
  justify-content: center;
}

.profileDetailsContainer{
  width: 100%;
  height: 25%;
  top: 15%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.user{
  display: inline-block;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.userName{
  font-size: 3vh;
}
