
.trophyWrapper{
  top: 40%;
  width: 100%;
  height: 50%;
  position: absolute;
  overflow-y: scroll;

}

.trophyContainer{
  position: absolute;
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap;
}

.trophyItem{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.trophyIcon{
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;

  .fa{
    color: white;
    font-size: 7vh;
  }
}

.trophyDescriptionWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.trophyDescription{
  width: 50%;
  height: 40%;
  background-color: beige;
}

.appBarLiteraryTrail{
  background-color: #47A2CC;
  position: fixed;
  height: 200px;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0px 2px 10px -1px #212121;

  .title{
    top:60px;
    position: relative;
  }
}
