html{
    font-size: 3vmax;
}

.button-primary{
    background-color: #4791B2;
    border: none;
    color: white;
    padding: 3% 7%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: inherit;
    margin: 10px;
    border-radius: 4px;
}

*{
  box-sizing: border-box;
}


.login-wrapper{
    height: 100vh;
    padding-top: 13vh;
    background-color: lighten(#4791B2, 50%);
}

.at-form {
  float: none;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  padding: 15px;
  height: 100%;
}

.at-form p {
  font-size: inherit;
  line-height: 20px;
  justify-content: center;
  display: flex;
}
.at-title h3 {
  margin-top: 10%;
  margin-bottom: 10px;
  font-size: inherit;
  font-weight: 800;
  text-align: center;
}

.at-link.disabled {
  color: #444;
}

.at-signin-link {

}

.at-error,
.at-result {
  text-align: center;
}

.at-oauth {
  margin-top: 10px;
}

button.at-social-btn {
  font-size: .8em;
  padding: 3% 7%;
  display: flex;
  align-items: baseline;
}

button.at-social-btn i {
  font-size: 1em;
  padding: 5px 0;
  margin-right: 30px;
  line-height: 0;
}

.at-input.has-feedback{
  margin-bottom: 1em;
}

button.at-social-btn#at-facebook {
  background: #3B5998;
  color: #fff;
  margin: 1em auto;
  border-radius: 4px;
  border: none;
}

button.at-social-btn#at-facebook.disabled {
  color: #ddd;
  background: #666666;
}

button.at-social-btn#at-facebook:hover {
  background: #2C4780;
}

.at-sep {
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}
.at-sep:before,
.at-sep:after {
  display: block;
  content: " ";
  border-bottom: 1px solid #ddd;
  width: 100%;
  position: absolute;
  top: 48%;
}
.at-sep:before {
  left: -60%;
}
.at-sep:after {
  right: -60%;
}

.at-pwd-form > form {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.at-pwd-form > form label {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
  font-weight: 300;
  font-size: inherit;
}

.at-pwd-form > form input{
  padding: 4% 4%;
  border-radius: 2%;
  border: 1px solid #ddd;
  font-weight: 200;
  background-color: #fff;
}

.at-signup-link {
  margin-top: 1em;
}
.at-terms-link {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  font-size: inherit;
}
.at-pwd-link{
  display: flex;
  justify-content: center;
}

.help-block{
  display: flex;
  justify-content: center;
  visibility: hidden;
}

#at-btn{
  font-size: inherit;
  margin-bottom: 2em;
}


.at-terms-link.at-wrap{
  display: none;
}
